body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 3.625rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.53125rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.9rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.5375rem;
    font-size: calc( 1.91875rem + (3.625 - 1.91875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.91875rem + (3.625 - 1.91875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.875rem 1.3125rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ff4433 !important;
}
.bg-success {
  background-color: #000000 !important;
}
.bg-info {
  background-color: #fab901 !important;
}
.bg-warning {
  background-color: #0746c0 !important;
}
.bg-danger {
  background-color: #5e5e5e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff4433 !important;
  border-color: #ff4433 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #db1200 !important;
  border-color: #db1200 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary .btn-success:hover {
  background-color: #ff4433;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #db1200 !important;
  border-color: #db1200 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
  color: #666666 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #bababa !important;
  border-color: #bababa !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary .btn-success:hover {
  background-color: #ff4433;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #666666 !important;
  background-color: #bababa !important;
  border-color: #bababa !important;
}
.btn-info,
.btn-info:active {
  background-color: #fab901 !important;
  border-color: #fab901 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #a47901 !important;
  border-color: #a47901 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info .btn-success:hover {
  background-color: #ff4433;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a47901 !important;
  border-color: #a47901 !important;
}
.btn-success,
.btn-success:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success .btn-success:hover {
  background-color: #ff4433;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #0746c0 !important;
  border-color: #0746c0 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #04286c !important;
  border-color: #04286c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning .btn-success:hover {
  background-color: #ff4433;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #04286c !important;
  border-color: #04286c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #5e5e5e !important;
  border-color: #5e5e5e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger .btn-success:hover {
  background-color: #ff4433;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white .btn-success:hover {
  background-color: #ff4433;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black .btn-success:hover {
  background-color: #ff4433;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff4433;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #db1200 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4433 !important;
  border-color: #ff4433 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e5e5e5;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #bababa !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #666666 !important;
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fab901;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #a47901 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #fab901 !important;
  border-color: #fab901 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0746c0;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #04286c !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #0746c0 !important;
  border-color: #0746c0 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #5e5e5e;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #333333 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #5e5e5e !important;
  border-color: #5e5e5e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff4433 !important;
}
.text-secondary {
  color: #e5e5e5 !important;
}
.text-success {
  color: #000000 !important;
}
.text-info {
  color: #fab901 !important;
}
.text-warning {
  color: #0746c0 !important;
}
.text-danger {
  color: #5e5e5e !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #cc1100 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #b2b2b2 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #4d4d4d !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #946e01 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #03225e !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #2b2b2b !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  /*  background-position: 0px 1.2em; */
}
.nav-tabs .nav-link.active {
  color: #ff4433;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fab901;
}
.alert-warning {
  background-color: #0746c0;
}
.alert-danger {
  background-color: #5e5e5e;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff4433;
  border-color: #ff4433;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ff4433;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fff1c8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #4e88f9;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #9e9e9e;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff4433 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ff4433;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff4433;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff4433;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff4433;
  border-bottom-color: #ff4433;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff4433 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #e5e5e5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff4433' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
  font-weight: 500;
}
.btn {
  margin: 0;
}
body {
  font-family: Jost;
}
p {
  margin-bottom: 0;
}
.btn.btn-success:hover {
  background-color: #ff4433 !important;
  transition: all 0.2s ease-in-out;
  border-color: #ff4433 !important;
}
.btn.btn-success {
  border: none !important;
}
.cid-sZRbcTv1dO .navbar-dropdown {
  position: relative !important;
}
.cid-sZRbcTv1dO .dropdown-item::before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sZRbcTv1dO .dropdown-menu {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}
.cid-sZRbcTv1dO .dropdown-item:hover,
.cid-sZRbcTv1dO .dropdown-item:focus {
  color: #ff4433 !important;
}
.cid-sZRbcTv1dO .nav-dropdown .link {
  padding: 0 0em !important;
  margin: 0.667em 1em !important;
  font-weight: 500;
}
.cid-sZRbcTv1dO .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sZRbcTv1dO .nav-link {
  position: relative;
  padding: 0;
}
.cid-sZRbcTv1dO .container {
  display: flex;
  margin: auto;
}
.cid-sZRbcTv1dO .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sZRbcTv1dO .dropdown-menu,
.cid-sZRbcTv1dO .navbar.opened {
  background: #000000 !important;
}
.cid-sZRbcTv1dO .nav-item:focus,
.cid-sZRbcTv1dO .nav-link:focus {
  outline: none;
}
.cid-sZRbcTv1dO .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sZRbcTv1dO .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sZRbcTv1dO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sZRbcTv1dO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont::before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sZRbcTv1dO .collapsed .dropdown-menu .dropdown-item::before {
  display: none;
}
.cid-sZRbcTv1dO .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sZRbcTv1dO .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #000000;
}
.cid-sZRbcTv1dO .navbar.opened {
  transition: all 0.3s;
}
.cid-sZRbcTv1dO .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sZRbcTv1dO .navbar .navbar-logo img {
  width: auto;
}
.cid-sZRbcTv1dO .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sZRbcTv1dO .navbar.collapsed {
  justify-content: center;
}
.cid-sZRbcTv1dO .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sZRbcTv1dO .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sZRbcTv1dO .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sZRbcTv1dO .navbar.collapsed .dropdown-menu .dropdown-item::after {
  right: auto;
}
.cid-sZRbcTv1dO .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sZRbcTv1dO .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sZRbcTv1dO .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sZRbcTv1dO .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sZRbcTv1dO .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sZRbcTv1dO .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sZRbcTv1dO .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sZRbcTv1dO .navbar .dropdown-menu .dropdown-item::after {
    right: auto;
  }
  .cid-sZRbcTv1dO .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sZRbcTv1dO .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sZRbcTv1dO .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sZRbcTv1dO .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sZRbcTv1dO .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sZRbcTv1dO .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sZRbcTv1dO .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sZRbcTv1dO .navbar.navbar-short {
  min-height: 60px;
}
.cid-sZRbcTv1dO .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sZRbcTv1dO .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sZRbcTv1dO .navbar-brand {
  display: inline-flex;
  align-items: center;
  min-height: 70px;
  flex-shrink: 0;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sZRbcTv1dO .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sZRbcTv1dO .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sZRbcTv1dO .dropdown-item.active,
.cid-sZRbcTv1dO .dropdown-item:active {
  background-color: transparent;
}
.cid-sZRbcTv1dO .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sZRbcTv1dO .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sZRbcTv1dO .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sZRbcTv1dO .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-sZRbcTv1dO .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sZRbcTv1dO .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sZRbcTv1dO ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sZRbcTv1dO .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sZRbcTv1dO button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sZRbcTv1dO button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sZRbcTv1dO button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sZRbcTv1dO button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sZRbcTv1dO button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sZRbcTv1dO button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sZRbcTv1dO nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sZRbcTv1dO nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sZRbcTv1dO nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sZRbcTv1dO nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sZRbcTv1dO .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sZRbcTv1dO a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sZRbcTv1dO .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sZRbcTv1dO .navbar {
    height: 70px;
  }
  .cid-sZRbcTv1dO .navbar.opened {
    height: auto;
  }
  .cid-sZRbcTv1dO .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sZRbcTv1dO .line-animation {
  opacity: 0;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: all 0.2s ease-in-out;
}
.cid-sZRbcTv1dO .nav-link:hover .line-animation {
  opacity: 1;
}
.cid-sZRbcTv1dO a {
  display: inline;
  font-weight: bold;
}
.cid-sZRbcTv1dO img {
  display: inline;
  padding-right: 10px;
}
.cid-sZRbcTv1dO .navbar .dropdown-item {
  display: block;
  border-radius: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cid-sZRbcTv1dO .dropdown-item:hover {
  color: #0746c0 !important;
}
@media (max-width: 990px) {
  .cid-sZRbcTv1dO .dropdown-menu {
    margin-top: 0px;
  }
  .cid-sZRbcTv1dO .collapse .btn {
    margin: 11px 21px 18px;
  }
}
.cid-sZRbcTv1dO .navbar-collapse .btn {
  display: block;
  margin: 0px 21px 0;
  font-weight: 500;
}
@media (min-width: 992px) {
  .cid-sZRbcTv1dO .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
  }
}
.cid-sZRbcTv1dO .btn {
  display: inline !important;
}
.cid-sZRbcTv1dO .navbar .navbar-collapse ul.navbar-nav li {
  margin: 0 !important;
}
.cid-sZRbcTv1dO .navbar-collapse .nav-link {
  display: inline-flex;
}
.cid-sZRbcTv1dO .mbr-buttons {
  margin: 20px -6px 20px;
}
.cid-sZRbcTv1dO .nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left center;
}
.cid-sZRbcTv1dO .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border-top-width: .143em;
  border-top-style: solid;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#custom-html-3 {
  /* Type valid CSS here */
}
#custom-html-3 div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-3 p {
  font-size: 60px;
  color: #777;
}
.cid-sZRLo7qufz {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sZRLo7qufz .image-wrapper {
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sZRLo7qufz .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sZRLo7qufz .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-sZRLo7qufz .image-wrapper img {
    border-end-start-radius: 5rem;
  }
}
@media (min-width: 992px) {
  .cid-sZRLo7qufz .text-wrapper {
    padding: 10rem 5rem 0 0rem;
  }
}
.cid-sZRLo7qufz .mbr-section-title {
  color: #2e6b75;
}
.cid-sZRLo7qufz .mbr-text {
  color: #6c7577;
}
.cid-sZRLo7qufz .btn {
  padding: 1rem 3.4rem;
}
.cid-sZRLo7qufz .mbr-text,
.cid-sZRLo7qufz .mbr-section-btn {
  color: #000000;
}
.cid-sZRbjj3RNo {
  background-color: #ffffff;
}
.cid-sZRbjj3RNo a {
  border: 0px;
  transition: all 0.2s ease-out;
  word-break: normal;
  justify-content: center;
}
.cid-sZRbjj3RNo .btn {
  white-space: nowrap;
  padding: 14px 21px;
}
.cid-sZRbjj3RNo .mbr-section-title {
  padding-bottom: 0;
  color: #000000;
  font-weight: 600;
  margin-bottom: 6px;
}
.cid-sZRbjj3RNo .right {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  margin: auto;
}
.cid-sZRbjj3RNo .container {
  max-width: initial;
}
.cid-sZRbjj3RNo .mbr-section-subtitle {
  width: 100%;
  padding: 25px 25px;
  color: #ffffff;
}
.cid-sZRbjj3RNo .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20%;
}
.cid-sZRbjj3RNo .c {
  text-align: center;
}
.cid-sZRbjj3RNo .color {
  background-color: #000000;
}
@media (max-width: 690px) {
  .cid-sZRbjj3RNo .container {
    display: block;
  }
  .cid-sZRbjj3RNo .mbr-section-subtitle {
    padding-top: 25px;
  }
  .cid-sZRbjj3RNo .row {
    margin-bottom: 25px;
  }
  .cid-sZRbjj3RNo .left {
    position: initial;
    padding: 0 5%;
  }
  .cid-sZRbjj3RNo .center {
    margin: auto;
  }
}
.cid-sZRbjj3RNo .top {
  margin-top: 30px;
}
.cid-sZRbjj3RNo span {
  padding-top: 7px;
}
.cid-sZRbjj3RNo textarea,
.cid-sZRbjj3RNo input {
  padding: 16px;
  margin-bottom: 30px;
  border: 1px solid #e9e9e9  !important;
  box-shadow: none;
  background-color: rgba(214, 214, 214, 0.15);
  border-radius: 2px;
}
.cid-sZRbjj3RNo .form-control:hover {
  border: 1px solid #e9e9e9 !important;
  box-shadow: none;
}
.cid-sZRbjj3RNo .form-control:focus {
  border: 1px solid #e9e9e9 !important;
  background-color: rgba(214, 214, 214, 0.15);
  box-shadow: none;
}
.cid-sZRbjj3RNo .subtitle {
  margin-bottom: 20px;
}
.cid-sZRbjj3RNo .form-group {
  margin-bottom: 20px;
}
.cid-sZRbjj3RNo .form-control {
  margin-bottom: 0;
}
.cid-sZRbjj3RNo .subt {
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 0;
  color: #ffffff;
  font-weight: 500;
}
.cid-sZRbjj3RNo .phone {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 600;
}
.cid-sZRbjj3RNo .address {
  margin-top: 30px;
  padding: 0;
  color: #ffffff;
}
@media (max-width: 990px) {
  .cid-sZRbjj3RNo .left {
    padding: 10% 0;
  }
}
.cid-sZRbjj3RNo .row {
  align-items: center;
}
